
.card {
  width: 280px;
}

.card .cabecalho {
  background-color: #F0F0F0;
  border-radius: 10px 10px 0px 0px;
}

.card img {
  width: 100px;
  border-radius: 50%;
  position: relative;
  bottom: -50px;
}

.card .rodapee {
  background: #FFFFFF;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08); 
  border-radius: 0px 0px 10px 10px;
  padding-top: 10px;
  padding-bottom: 40px;
}

.card .rodapee h4 {
  color: #6278f7;
  font-size: 26px;
  line-height: 22px;
  margin-top: 50px;
}

.card .rodapee h5 {
  font-size: 20px;
  line-height: 2px;
}


.card .rodapee h6 {
  font-size: 16px;
  line-height: 2px;
}